@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #192a56;
	color: #fff;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	display: flex;

	margin: 0;
}
section{
	display: flex;
	margin: 0;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	padding-bottom: 1.4rem;
}
h1 {
	/* font-size: 50px; */
	margin: 0;
}

h2{
	font-size: xx-large;

}

p {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 2px;
	margin: 0;
	font-size: xx-large;
}

a{
	text-decoration: none;
	color: #fff;
}
.right{
	float: right;
}
.left{
	float: left;
}
