/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

* {
	box-sizing: border-box;
}
@font-face {
	font-family:'Amiri-Bold';
	src:url(../Font/Amiri-Bold.ttf);
}
body {
	background-color: #192a56;
	color: #fff;
	font-family: 'Amiri-Bold','Muli', sans-serif;
	flex-direction: column;
	display: flex;
	margin: 0;
}
section{
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1.4rem;
}
h1 {
	/* font-size: 50px; */
	margin: 0;
	font-family: 'Muli';
}

#count{
	font-weight: bolder;
}
h2{
	font-size: xx-large;
	text-align: center;

}

p {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 2px;
	margin: 0;
	font-size: xx-large;
}

a{
	text-decoration: none;
	color: black;
	background: #fff;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
	padding: 8px;
  }
.right{
	float: right;
	margin-left:3rem;
}
.left{
	float: left;
}
#plus{
	width: 100%;
	height: 100px;
	background-color: green;
	color: #fff;
	font-size: xx-large;
	font-family: 'Amiri-Bold','Muli', sans-serif;
	border-radius: 10px;
	margin-top: 1.4rem;
}
footer{
	display: flex;
	margin: 0;
	margin-top: 2rem;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	padding-bottom: 1.4rem;
}

@media only screen and (min-width: 600px) {
	#plus{
		width: 41%;
	}
}